{% extends "base.html" %}

{% block content %}
<h2 class="text-center pt-5 ">About my App</h2>
<p class="text-justify p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sapiente. Obcaecati saepe iusto explicabo tenetur ut earum tempora, sed dolorem, amet quidem veritatis, eum eligendi? Unde,
    veritatis tenetur aliquam maiores nisi aspernatur facere laboriosam temporibus, accusantium, possimus deserunt minima similique harum itaque debitis iure ex rerum explicabo eaque. Ea, illo.</p>
{% endblock content %}