{% extends "base.html" %}

{% block content %}
<h4 class="pt-4 text-center">Updating of the Task</h4>
<div class="d-flex justify-content-center align-items-center vh-180">
    <form action="/update/{{task.id}}/" style="width: 100%; max-width: 600px;" method="POST">
        <div class="form-row">
            <div class="col-sm-25 my-1 mx-3">
                <label for="name" class="pt-2 px-2">Titre</label>
                <input type="text" name="name" id= "name" class="form-control" placeholder="Add a task" value="{{ task.name }}"/>
            </div>
            <div class="col-sm-25 my-1 mx-3">
                <label for="description" class="pt-2 px-2">Description</label>
                <input type="text" name="description" id= "description" class="form-control px-2" placeholder="Add a Description" value="{{ task.description }}"/>
            </div>
            <div class="col-sm-25 my-1 mx-3">
                <label for="date" class="pt-2 px-2">Jour</label>
                <input type="date" name="date" id= "date" class="form-control px-2" value="{{ task.date }}"/>
            </div>
            <div class=" col-sm-25 d-flex justify-content-between">
                <div class="col-sm-25 my-1 mx-3">
                    <label for="start_time" class="pt-2 px-2">Start at</label>
                    <input type="time" name="start_time" id= "start_time" class="form-control px-2" value="{{ task.start_time }}"/>
                </div>
                <div class="col-sm-25 my-1 mx-3">
                    <label for="end_time" class="pt-2 px-2">End at</label>
                    <input type="time" name="end_time" id= "end_time" class="form-control px-2" value="{{ task.end_time }}"/>
                </div>
            </div>
            <div class="col-sm-25 my-1 mx-3">
                <label for="email" class="pt-2 px-2">Email</label>
                <input type="email" name="email" id= "email" class="form-control"/>
            </div>
            <div class="col-sm-25 my-3 d-flex justify-content-between  mx-3">
                <button type="submit" class="btn btn-primary">Update</button>
                <button  class="btn btn-primary" onclick="window.location.href='{{url_for('index')}}'">Back</button>
            </div>
        </div>
    </form>
</div>


{% endblock content %}

